.add_query__buttons{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: var(--secundary-color);
    padding: 15px;
    border-radius: 100%;
    color: var(--container-background);
    width: 16px;
    height: 16px;
    font-size: 30px;
    font-weight: 300;
    box-shadow: var(--secundary-color) 0px 0px 20px;
}
#footer__hamburguer{
    position: fixed;
    inset: auto 10px 90px auto;
    z-index: 1;
}
#add_query{
    display: none;
}
#add_query:checked ~ #buttons_container{
    display: block;
}
#buttons_container{
    display: none;
    position: fixed;
    inset: 0;
    background-color: #464646a6;
}
.buttons_burguers{
    display: flex;
    align-items: center;
    justify-content: end;
    position: fixed;
    right: 10px;
    gap: 16px;
}
#button__video{
    bottom: 150px;
}
#button__pin{
    bottom: 210px;
}
.explication__buttons{
    background-color: var(--container-background);
    border-radius:2.323px;
    padding: 2px 8px;
    font-weight: 500;
}
#footer__navBar{
    position: fixed;
    inset: auto 0 0 0;
    background-color: var(--container-background);
    padding: 10px 0px 16px;
    border-radius: 12px 12px 0px 0px;

    display: flex;
    justify-content: center;
    gap: 5%;
}
.footer__navBar__button{
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.button__img__hover{
    display: none;
}
.footer__navBar__button:hover{
    color: var(--secundary-color);
}
.footer__navBar__button:hover .button__img__default{
    display: none;
}
.footer__navBar__button:hover .button__img__hover{
    display: block;
}
.button__container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}
#button__query{
    color: var(--secundary-color);
}
.button__img{
    width: 100%;
    height: 100%;
}
.button__img__container{
    width: 1.834em;
    height: 1.834em;
}
#register{
    display: none;
}

@media screen and (min-width:768px) {
    #footer__hamburguer{
        display: none;
    }
    #register{
        display: grid;
        background-color: var(--container-background);
        gap: 20px;
        justify-content: center;
        border-radius: 8px;
        padding: 25px 0px;
    }
    #register__title{
        font-size: 1.34em;
        font-weight: 700;
        text-align: center;
    }
    #register__camps{
        display: grid;
        row-gap: 15px;
    }
    .register__camp{
        display: grid;
        row-gap: 5px;
    }
    .register__camp__name{
        font-weight: 500;
    }
    .camp__input{
        font-family: var(--main-font);
        color: var(--main-text-color);
        font-weight: 500;
        height: 25px;
        border: solid 1px var(--light-text-color);
        border-radius: 16px;
        padding: 0px 10px;
    }
    .camp__input::placeholder{
        font-family: var(--main-font);
        color: var(--main-text-color);
        font-weight: 500;
    }
    #register__choice_query{
        display: flex;
        margin-top: 5px;
        gap: 15px;
    }
    .choice_label{
        border: 1px solid var(--light-text-color);
        border-radius: 16px;
        padding: 5px 10px;
    }
    #choice_query__online,#choice_query__FtF{
        display: none;
    }
    input[type="radio"]:checked + label{
        background-color: var(--secundary-color);
        color: var(--container-background);
    }
    #register__DateAndTime{
        display: flex;
        justify-content: center;
        gap: 40px;
    }
    .camp__input:hover, .choice_label:hover{
        cursor: pointer;
        border: 1px solid var(--secundary-color);
    }
    #register__salve{
        background-color: var(--container-background);
    }
    #register__salve:active{
        background-color: var(--secundary-color);
        color: var(--container-background);
    }
}

@media screen and (min-width:1024px) {
    #footer__navBar{
        inset: 0 87% 0 0;

        flex-direction: column;
        justify-content: start;
        gap: 20px;
        border-radius: 0%;
        box-shadow: 2px 0px 15px #464646a6;
        padding: 25px 0px 0px 15px;
    }
    .button__container{
        flex-direction: row;
    }
    #register{
        margin: auto 4%;
    }
}